# Logs
logs
*.log
npm-debug.log*

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
coverage/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# folders
.coverage_artifacts/
.coverage_cache/
.coverage_contracts/
artifacts/
build/
cache/
coverage/
dist/
lib/
node_modules/
typechain/
profiles/
docs/
# files
*.env
*.log
*.tsbuildinfo
coverage.json
npm-debug.log*


